<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>پلاگین</title>
        <link rel="stylesheet" href="ng-jalaali-flat-datepicker.min.css">
        <style>
            * { font-family: 'tahoma'; direction: rtl;}
        </style>
    </head>
    <body ng-app="testApp" ng-strict-di>

        <div ng-controller="mainController">

            <h1>تقویم با قابلیت نمایش روی دکمه و اینپوت </h1>

            <input type="text" name="date" ng-jalaali-flat-datepicker datepicker-config="datepickerConfig" gregorian-formatted-picked-date="gfdate" gregorian-picked-date="gdate" ng-model="date">

            <p>اینپوت :
              <ul ng-show="gdate">
                <li> {{ date | json }} </li>
                <li> {{ gdate | json }} </li>
                <li> {{ gfdate }} </li>
              </ul>
            </p>

            <button ng-jalaali-flat-datepicker ng-model="date2" type="button" name="button">انتخاب یک تاریخ با دکمه</button>
            <p>دکمه :
              <ul ng-show="date2">
                <li>{{ date2 | json }}</li>
              </ul>
            </p>
        </div>

        <!-- JS -->
        <script src="prerequisities.min.js"></script>
        <script src="ng-jalaali-flat-datepicker.min.js"></script>

        <script src="app.js"></script>
    </body>
</html>